body {
  background-color: beige;
}
nav {
  background-color: lightblue;
  text-align: center;
  padding: 20px;
  margin-left: 10px;
  display: block;
}
h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
img {
  padding: 10px;
  height: 10%;
  width: 10%;
}
#courses_list {
  border: solid;
}


